@{
    ViewData["Title"] = "Department Management";
}
<div class="page-header">
    <div class="container-fluid">
        <h1>@ViewData["Title"]</h1>
        <p class="responsive-text">Welcome to the department management application! Manage your department directory below.</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @(Html.Kendo().Grid<HRPlusAssignment.Models.Department>()
            .Name("departmentGrid")
            .Columns(columns =>
            {
                columns.Bound(c => c.DepartmentId).Title("Department ID").Width("100px");
                columns.Bound(c => c.DepartmentCode).Title("Department Code").Width("140px");
                columns.Bound(c => c.DepartmentName).Title("Department Name").Width("200px");
                columns.Command(command => { command.Edit(); command.Destroy(); }).Width("150px");
            })
            .ToolBar(toolbar =>
            {
                toolbar.Create().Text("Add New Department");
                toolbar.Excel();
                toolbar.Search();
            })
            .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("DepartmentEditor"))
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5)
                .PageSizes(new int[] { 5, 10, 20, 50, 100 })
            )
            .HtmlAttributes(new { style = "height: 700px;" })
            .Scrollable(scrollable => scrollable.Virtual(true))
            .Resizable(resizable => resizable.Columns(true))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Model(model =>
                {
                    model.Id(p => p.DepartmentId);
                    model.Field(p => p.DepartmentCode);
                    model.Field(p => p.DepartmentName);
                })
                .Read(read => read.Action("Departments_Read", "Departments"))
                .Create(create => create.Action("Department_Create", "Departments"))
                .Update(update => update.Action("Department_Update", "Departments"))
                .Destroy(destroy => destroy.Action("Department_Delete", "Departments"))
            )
        )
    </div>
</div>
